#ignore 所有没有扩展名的文件
#如果想git add 没有扩展名的文件，add -f
*
!makefile
!*.*
!*/

CMakeCache.txt
cmake_install.cmake
CMakeFiles/
output/
install_manifest.txt
test/*.sh
logs/
demos/

*.pb.h
*.pb.cc

*.o      
*.a      
*.so        

#保留目录thirdparty下的所有文件
/thirdparty/**/*
!/thirdparty/*.gz


